@model GuestBook.Models.GuestBookEntry
@{
    ViewBag.Title = "Create";
}

<h2>Agregar una nueva Entrada</h2><br />
@Html.ValidationSummary()
@using (Html.BeginForm())
{ 
    <fieldset>
        <legend>Entrada</legend>
        Por favor ingrese tu Nombre
        <br />
        @Html.TextBoxFor(m => m.Name)
        <br /><br />
        Por favor ingresa tu mensaje<br /><br />
        @Html.TextAreaFor(m => m.Message, new {rows=10,cols=40})
        <br/>
        <br/>
        <input type="submit" value="Enviar Entrada" />
    </fieldset>
}